/* src/App.css */

/* Style du formulaire de contact container */
.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
}

/* Style du formulaire de contact */
.contact-form {
  display: flex;
  flex-direction: column;
}

/* Style des sections du formulaire */
.form-section {
  margin-bottom: 20px;
}

/* Style des étiquettes */
label {
  margin-bottom: 8px;
}

/* Style des champs de saisie */
input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
}

/* Style du bouton Soumettre */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  width: 100%; /* Bouton en pleine largeur */
  box-sizing: border-box;
}

/* Ajouter un peu de style pour un look propre */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
