/* ContactForm.css */
.contact-container {
  background: linear-gradient(to right, #3498db, #6ab7ff, #a9cce3);
  padding: 20px;
  min-height: 100vh; /* Au moins 100% de la hauteur de la vue */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  background-color: #fff; /* Fond blanc pour le formulaire */
  color: #333; /* Texte foncé pour un meilleur contraste */
  padding: 25px 25px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

.contact-form h2 {
  text-align: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 8px;
  display: contents;
}

.contact-form input,
.contact-form textarea {
  padding: 8px;
  border: 2px solid;
  border-radius: 5px;
  margin-bottom: 16px;
}

.contact-form button {
  background: linear-gradient(to right, #3498db, #6ab7ff, #a9cce3);
  color: #fff;
  padding: 10px 20px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: #45a049;
}
