.contact {
  background: linear-gradient(to right, #3498db, #6ab7ff, #a9cce3);
  padding: 20px;
  margin-top: 4%;
  min-height: 100vh; /* Au moins 100% de la hauteur de la vue */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  padding: 25px;
  color: #333; /* Texte foncé pour un meilleur contraste */
  padding: 25px 25px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

.sectionTitle {
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.contact__form input,
.contact__form textarea,
.contact__form button {
border: 2px solid;
border-radius: 5px;
margin-bottom: 18%;
padding: 8px;
}

.contact__form button {
  font-size: 1.2rem;
  background: linear-gradient(to right, #3498db, #6ab7ff, #a9cce3);
  color: #fff;
  padding: 10px 20px;
  letter-spacing: 1px;
  border: none;
}
