.footerContainer {
  bottom: 0;
  background-color: $millbrook;
  padding: 10px 30px;
  color: #fff;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
}

.contactIcons {
  color: #fff;
  display: flex;
  position: absolute;
  left: 100%;
}
