@import './mixins';
@import './variables.scss';

.listProjects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @include tabOnly {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @include smartphoneOnly {
    display: flex;
    flex-direction: column;
  }
}

.projectImage {
  width: 100%;
  object-fit: cover;
  padding-top: 25px;
}

.project {
  cursor: pointer;
  box-shadow: 3px 5px 5x grey;
  border: 0 solid black;
  margin-top: 10%;
  height: 89%;
  border-radius: 10px;
  margin-left: 11%;
  width: 80%;
  box-shadow: 5px 5px 5px grey;
  transition-duration: 200ms;

  &:hover {
    transform: scale(1.1);
  }
}

.projectTitle {
  color: #fff;
  background-color: #583532;
  margin: 0;
}

.projetDescription {
  color: black;
  font-size: 20px;
}

.projectSection {
  text-align: center;
  padding-top: 5%;
}
