@import './Header';
@import './WhoIam';
@import './Projects';
@import './Mixins';
@import './Contact';
@import './Footer';
@import './About';
@import './Techno';

body {
  font-family: 'Raleway', 'lato', sans-serif;
  margin: 0;
  overflow-x: hidden;

  a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    &:hover {
      color: #45a29e;
    }
  }
  .sectionTitle {
    position: relative;
    display: block;
    font-size: 27px;
    font-family: 'lato';
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 10px;
    transition: 1s all ease;
  }
  .sectionTitle::before {
    background: #45a29e;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 1s ease;
    width: 120%;
    height: 0%;
  }

  h2 {
    font-weight: 400;
    margin: 0;
    letter-spacing: 3px;
  }

  h1 {
    font-weight: 400;
    margin: 0;
    color: #fff;
    font-size: 7vh;
    letter-spacing: 3px;
  }

  @include smartphoneOnly {
    h1 {
      font-weight: 400;
      margin: 0;
      color: #fff;
      font-size: 4vh;
      letter-spacing: 3px;
    }
  }
}
